@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIBRE FRANKLIN*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* LOVE YA LIKE A SISTER */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Love+Ya+Like+A+Sister&display=swap');

.App {
  text-align: center;
}

.App a {
  text-decoration: none;
}

.App li {
  list-style-type: disc;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  pointer-events: none; /* Não interage com eventos de clique */
  transition: opacity 0.3s; /* transição de 3 segundos */
}

:root {
  --marrom-avermelhado: #805557;
}